.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .material1 {
    width: fit-content;
    border: 1px solid black;
    padding: 10px;
    box-shadow: -5px -10px 12px -3px rgba(214, 208, 208, 0.75);
    .custom-table {
      height: 500px;
    }
  }
}
